%h1 New Union
= form_for @union, html: { class: 'form-horizontal' } do |f|
  .form-group
    .control-label.col-xs-2
      = f.label :name, 'Name'
    .col-xs-5
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    .col-xs-offset-2.col-xs-5
      = f.submit 'Create', class: 'btn btn-primary btn-md'
      = link_to 'Cancel', unions_path, class: 'btn btn-default btn-md'