%h1 Edit Position
= form_for @position, html: { class: 'form-horizontal' } do |f|
  .form-group
    .control-label.col-xs-2
      = f.label :name, 'Name'
    .col-xs-5
      = f.text_field :name, class: 'form-control',
                            value: @position.name,
                            required: true
  .form-group
    .control-label.col-xs-2
      = f.label :union_id, 'Union'
    .col-xs-5
      = f.select :union_id, @unions.collect{ |u| [u.name, u.id] }, {},
                                class: 'selectpicker form-control',
                                include_blank: true,
                                required: true,
                                selected: @position.union_id
  .form-group
    .col-xs-offset-2.col-xs-5
      = f.submit 'Update', class: 'btn btn-primary'
      = link_to 'Cancel', positions_path, class: 'btn btn-primary'