%h1 Time Off Requests
= month_calendar events: @requests do |date, requests|
  %div= date.day
  - requests.each do |request|
    = "#{request.user.first_name} #{request.user.last_name} (#{request.request_type.code})"
