%h1 Time Off Requests
= link_to 'Request Time Off', new_request_path, class: 'btn btn-primary'
= month_calendar do |date|
  %div= date.day
  - @requests.where(date: date).each do |request|
    - unless request.rejected?
      %div{ class: (request.approved? ? 'approved-request' : 'pending-request') }
        = link_to "#{request.user.full_name} (#{request.request_type.code})",
                  edit_request_path(request)
