= link_to 'Home', home_index_path, class: 'btn btn-default btn-xlg', style: 'float: right'
%h1 Time Off Requests
= link_to 'Request Time Off', new_request_path, class: 'btn btn-primary btn-md'
= month_calendar partial: 'month_calendar' do |date|
  %div= date.day
  - @requests.where(date: date).order(start_time: :asc).each do |request|
    - unless request.rejected?
      %div{ class: (request.approved? ? 'approved-request' : 'pending-request') }
        - unless request.time_by_shifts?
          - link_name = "#{request.user.full_name} (#{request.request_type.code}, #{request.start_time.strftime('%-I:%M%P')}-#{request.end_time.strftime('%-I:%M%P')})"
        - else
          - link_name = "#{request.user.full_name} (#{request.request_type.code})"
        = link_to link_name,
                  edit_request_path(request)
