%h1 Edit Shift
= form_for [@user, @shift], html: { class: 'form-horizontal' } do |f|
  .form-group
    .control-label.col-xs-2
      = f.label :start_time, 'Start Time'
    .col-xs-5
      = f.datetime_field :start_time, class: 'form-control', placeholder: 'Start Time'

  .form-group
    .control-label.col-xs-2
      = f.label :end_time, 'End Time'
    .col-xs-5
      = f.datetime_field :end_time, class: 'form-control', placeholder: 'End Time'

  .form-group
    .col-xs-offset-2.col-xs-5
      = f.submit 'Update', class: 'btn btn-primary'
      = link_to 'Cancel', users_path, class: 'btn btn-primary'
