!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chronos
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/shared/header'
    = render partial: 'layouts/shared/navbar'

    - if flash[:message].present?
      .container-fluid#message
        %table.flash-message
          = flash[:message]
    - if flash[:errors].present?
      - flash[:errors].each do |error_message|
        .container-fluid#error
          %table.flash-message
            = error_message

    .container.main-content
      %h1
        = yield :page_header
      = yield
    = render partial: 'layouts/shared/footer'
