!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Chronos
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/shared/header'
    = render partial: 'layouts/shared/navbar'

    - flash.each do |name, msg|
      - glyph = 'glyphicon glyphicon-alert flash-icon'  if name == 'warning'
      - glyph = 'glyphicon glyphicon-remove flash-icon' if name == 'danger'
      - glyph = 'glyphicon glyphicon-ok flash-icon'     if name == 'success'
      - glyph = 'glyphicon glyphicon-info-sign flash-icon'   if name == 'info'

      %div{class: "alert alert-#{name} container-fluid"}
        %table.flash-message
          %td
            %span{class: glyph}
          %td
            - [*msg].each do |m|
              %div
                = m

    .container.main-content
      %h1
        = yield :page_header
      - if session[:swipe_id].present?
        %div{id: 'logged-in-through-swipe-id'}
      - unless params[:controller] == 'home' && params[:action] == 'index'
        = link_to 'Home', home_index_path, class: 'btn btn-default btn-xlg', style: 'float: right'
      = yield
    = render partial: 'layouts/shared/footer'
